# Disable welcome message
set -g fish_greeting

if status is-interactive
    # Enable vim keybindings
    fish_vi_key_bindings

    {{- if eq .chezmoi.os "linux"}}
    # Auto-launch tmux if not already in tmux
    if not set -q TMUX
        exec tmux
    end
    {{- end}}
end

set -gx PATH $HOME/.local/bin $PATH

# starship
starship init fish | source

# bun
set --export BUN_INSTALL "$HOME/.bun/bin"
set --export PATH $BUN_INSTALL/bin $PATH

# go
set --export PATH /usr/bin/go $PATH
set --export PATH $HOME/go/bin $PATH

# claude migrated
alias claude="$HOME/.claude/local/claude"

{{- if eq .chezmoi.os "darwin" }}
# pip3 (macOS)
set -gx PATH $HOME/Library/Python/3.9/bin $PATH
{{- end }}
